<!--SECTION1-portada-->

<img class="img-portada" src="portada.jpg" alt="Imagen portaada">
<h1>ZenRun</h1>
<p class="texto-portada">Esencialmente, infinitas posibilidades de comodidad diaria.</p>
<button class="boton-portada">COMPRAR AHORA</button>

<!--SECTION2-explorar la coleccion-->

<h2 class="titulo-section2"> EXPLORAR LA COLECCIÓN</h2>

<!--SECTION3-mujer y hombre-->

<h2 class="titulo-section3">SOLO EN ZENRUN</h2>
<p class="subtitulo-section3">Ven y explora</p>
<div class="section-mujer-hombre-niño">
    <div class="categoria">
        <img class="mujer" src="seccion-mujer.jpg" alt="Seccion mujer">
        <p class="texto-mujer">MUJER</p>
        <button class="boton-mujer"><a href="../mujer/mujer.component.html">VER</a></button>
    </div>

    <div class="categoria">
        <img class="hombre" src="seccion-hombre.jpg" alt="Seccion hombre">
        <p class="texto-hombre">HOMBRE</p>
        <button class="boton-hombre"><a href="../hombre/hombre.component.html">VER</a></button>
    </div>

    <div class="categoria">
        <img class="niño" src="niño.jpg" alt="Seccion niño">
        <p class="texto-niño">NIÑO</p>
        <button class="boton-niño"><a href="../hombre/hombre.component.html">VER</a></button>
    </div>
</div>

<!--SECTION4-regala zenrun-->

<h2 class="titulo-section4">REGALA ZENRUN</h2>

<!--SECTION5-publicidad-->   

<div class="seccion5">
    <img class="publicidad" src="publicidad.jpg" alt="Publicidad">
    <h2 class="titulo-section5">JORDAN 1 RETRO LOW</h2>
    <p class="texto-section5">Celebra con estilo</p>
    <button class="boton-pubicidad">EXPLORA</button>
</div>
