nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #EFEFEF;
    margin-top: 40px;
    padding-left: 700px;
    z-index: 1;
}

nav .logo {
    margin-top: 24px;
    padding-right: 10px;
    margin-left: -520px;
    background-color: #efefef;
}

.links {
    position: absolute;
    margin-top: -30px;
    margin-left: -400px;
    background-color: transparent;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin-left: 45px;
    background-color: #efefef;
}

.inicio {
    margin-left: 360px;
}

.logo {
    width: 85px;
    height: 30px;
    margin-left: -400px;
}

.bolsa {
    display: flex;
    width: 26px;
    height: 26px;
    background-color: transparent;
    margin-top: -26px;
    margin-left: 960px;
}

.lupa {
    display: flex;
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-top: -30px;
    margin-left: 900px;
}

.buscador {
    background-color: transparent;
}